################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PassiveFlowSolution
/PassiveFlow/bin/Debug
/PassiveFlow/obj
/SampleCycle/bin/Debug
/SampleCycle/obj/x86/Debug
